= render 'shared/sub-header'

.toukou-mainbox
  .new-box
    %h3 マニュアル新規投稿
  .toukou-box
  = form_with model: @manual do |f|
    .name-box3
      = f.label :name do
        マニュアルタイトルを入力してください
      %div
        = f.text_field :name, {class: 'input-text', placeholder: "マニュアル名（必須)"}
    .category-box-new
      = f.label :category do
        マニュアルのカテゴリーを選択してください
      %div
        = f.select :category,[["レジ"],["清掃"],["フライヤー"],["コーヒーマシン"],["接客"],["その他"]], prompt:"選択してくだい"
    .pdf-area
      %p PDFファイルを選択してくだい
      = f.label :image do
        .testo PDFファイルをドラッグ&クリックでアップロード
      %div
        = f.file_field :image,{class: 'input-image'}
        %object.pdf{id: :img_prev}


    %button{type: 'submit',class: 'submitBtn'}
      投稿する





