<header>
  <div class="logo-box">
    <%= image_tag 'animal_bear_character.png', :size =>'150x150'%>
    (仮)
  </div>
  <div class="header-box">
    <div class="title">
      <p>
      <span style="color:blue">マ</span>
      <span style="color:red">ニ</span>
      <span style="color:orange">ュ</span>
      <span style="color:blue">ア</span>
      <span style="color:green">ル</span>
      <span style="color:blue">B</span>
      <span style="color:red">o</span>
      <span style="color:orange">o</span>
      <span style="color:green">k</span>
      <span style="color:blue">s</span> 
      </p>
    </div>
    <div class="search-box">マニュアルを検索   🔍</div>
  </div>
  <div class="right-box">
    <div class="kanri-box">管理者ログイン</div>
    <div class="mypage-box">マイページ</div>
  </div>
</header>
<body>
  <div class="body-header">最近追加されたマニュアル（お知らせを入れるかも）</div>
  <div class="new-manualbox">
    <div  class="new-manual">クリスマス商品予約方法について<br>（マニュアルのタイトルを表示）<br> new! </div>
    <div  class="new-manual"><br> <%= @manual.name %><br> new! </div>
    <div  class="new-manual"><br>（マニュアルのタイトルを表示）<br> new! </div>
    <div  class="new-manual"><br>（マニュアルのタイトルを表示）<br> new! </div>
  </div>
  <div class="manual-header">マニュアル一覧</div>
  <div class="manual-logobox">
    <div class="logo-box">
      <%= image_tag 'shopping_register_12006-300x225.jpg', :size =>'150x150'%>
      (仮)
  　</div>
    <div class="logo-box">
      <%= image_tag 'soijipanda.jpg', :size =>'150x150'%>
      (仮)
  　</div>
    <div class="logo-box">
      <%= image_tag '0027200_1.jpg', :size =>'150x150'%>
      (仮)
  　</div>
    <div class="logo-box">
      <%= image_tag '51q4OKELP3L._SY355_.jpg', :size =>'150x150'%>
      (仮)
  　</div>
    <div class="logo-box">
      <%= image_tag '450-20190629173348181017.jpg', :size =>'150x150'%>
      (仮)
  　</div>
    <div class="logo-box">
      <%= image_tag 'animal_bear_character.png', :size =>'150x150'%>
      (仮)
  　</div>
  </div>
  <div class="manual-categorybox">
    <select name="select" onChange="location.href=value;">
      <option value="#">・レジ</option>
      <option value="http://localhost:3000/manual">AAAAA</option>
      <option value="bbbbb.html">BBBBB</option>
      <option value="ccccc.html">CCCCC</option>
      <option value="ddddd.html">DDDDD</option>
      <option value="eeeee.html">EEEEE</option>
    </select>
    <select name="select" onChange="location.href=value;">
      <option value="#">・清掃</option>
      <option value="http://localhost:3000/manual">AAAAA</option>
      <option value="bbbbb.html">BBBBB</option>
      <option value="ccccc.html">CCCCC</option>
      <option value="ddddd.html">DDDDD</option>
      <option value="eeeee.html">EEEEE</option>
    </select>
    <select name="select" onChange="location.href=value;">
      <option value="#">・フライヤー</option>
      <option value="http://localhost:3000/manual">AAAAA</option>
      <option value="bbbbb.html">BBBBB</option>
      <option value="ccccc.html">CCCCC</option>
      <option value="ddddd.html">DDDDD</option>
      <option value="eeeee.html">EEEEE</option>
    </select>
    <select name="select" onChange="location.href=value;">
      <option value="#">・コーヒーマシン</option>
      <option value="http://localhost:3000/manual">AAAAA</option>
      <option value="bbbbb.html">BBBBB</option>
      <option value="ccccc.html">CCCCC</option>
      <option value="ddddd.html">DDDDD</option>
      <option value="eeeee.html">EEEEE</option>
    </select>
    <select name="select" onChange="location.href=value;">
      <option value="#">・接客</option>
      <option value="http://localhost:3000/manual">AAAAA</option>
      <option value="bbbbb.html">BBBBB</option>
      <option value="ccccc.html">CCCCC</option>
      <option value="ddddd.html">DDDDD</option>
      <option value="eeeee.html">EEEEE</option>
    </select>
    <select name="select" onChange="location.href=value;">
      <option value="#">・その他</option>
      <option value="http://localhost:3000/manual">AAAAA</option>
      <option value="bbbbb.html">BBBBB</option>
      <option value="ccccc.html">CCCCC</option>
      <option value="ddddd.html">DDDDD</option>
      <option value="eeeee.html">EEEEE</option>
    </select>
  </div>
  