%body
  %header
    .logo-box
      = image_tag '2505.png', size: '150x150'
    .header-box
      .title
        %p
          %span{:style => "color:blue"} マ
          %span{:style => "color:red"} ニ
          %span{:style => "color:orange"} ュ
          %span{:style => "color:blue"} ア
          %span{:style => "color:green"} ル
          %span{:style => "color:blue"} S
          %span{:style => "color:red"} e
          %span{:style => "color:orange"} a
          %span{:style => "color:green"} r
          %span{:style => "color:blue"} c
          %span{:style => "color:green"} h
      .top__search
        = form_with url: list_path, local: true do |form|
          .serach-icon
            =  form.text_field :search, {class: 'search-box', placeholder: 'キーワードを入力して検索'}
          = button_tag type: 'submit' do
            = fa_icon 'search'
    .right-box
      = link_to new_admin_manual_path, method: :get do
        .kanri-box 管理者ログイン    
      = link_to destroy_user_session_path, method: :delete do
        %button{type: "submit",class: 'btn-logout'} ログアウト
  .body-header 
    最近追加されたマニュアル
    %span (4件)
  .new-manualbox
    - @manual.each do |manual|
      .new-manual
        = link_to manual_path(manual.id) do
          %h3 
            = manual.name
  .new-box-index 
    .new-name-box new!
    .new-name-box new!
    .new-name-box new!
    .new-name-box new!
  .setumei-box-index 
    %p 
      ↖️
      %span 読みたいマニュアルを選択
  .manual-header カテゴリーから探す
  .manual-logobox
    .logo-box
      = image_tag 'shopping_register_12006-300x225.png', :size =>'150x150', class:"gazou" 
      　
    .logo-box
      = image_tag 'soijipanda.png', :size =>'140x140', class:"gazou" 
      　
    .logo-box
      = image_tag '0027200_1.png', :size =>'140x140', class:"gazou" 
      　
    .logo-box
      = image_tag '51q4OKELP3L._SY355_.png', :size =>'140x140', class:"gazou" 
      　
    .logo-box
      = image_tag '450-20190629173348181017.jpg', :size =>'140x140', class:"gazou" 

    .logo-box
      = image_tag 'animal_bear_character.png', :size =>'140x140', class:"gazou" 
      (仮)
  .manual-categorybox
    %a.select{ href: "manuals/rezi"} レジ
    %a.select{ href: "manuals/seisou"} 清掃
    %a.select{ href: "manuals/flyer"} フライヤー
    %a.select{ href: "manuals/cofee"} コーヒーマシン
    %a.select{ href: "manuals/sekkyaku"} 接客
    %a.select{ href: "manuals/sonota"} その他
  .setumei-box-index 
    %p 
      ↖️
      %span 読みたいマニュアルのカテゴリーを選択
  = render 'shared/footer'