%body
  = render 'shared/sub-header'
  .manual__all  
    %p マニュアル一覧    
  .manual__menu  
    %a.manual__box1{:href => "#1"}  接客・販売
    %a.manual__box1{:href => "#2"} カウンター内
    %a.manual__box1{:href => "#3"} 清掃
    %a.manual__box1{:href => "#4"} 発注
    %a.manual__box1{:href => "#5"} ロッピー
    %a.manual__box1{:href => "#6"} その他
  .setumei-box ↖️マニュアルのカテゴリーを選択するとそこまで飛べます
  .category-box
    .category-title
      #1
      .title_rezi 接客・販売
      %span (読みたいマニュアルをクリック👆)
      %a.button{:href => "#index"} Topへ戻る
    .rezi__manual
      - @rezi.each do |manual|
        .rezi__manual__box
          = link_to manual_path(manual.id) do
            = manual.name
    .category-title
      #2
      .title_seisou カウンター内
      %span (読みたいマニュアルをクリック👆)
      %a.button{:href => "#index"} Topへ戻る
    .seisou__manual
      - @seisou.each do |manual|
        .seisou__manual__box
          = link_to manual_path(manual.id) do
            = manual.name
    .category-title
      #3
      .title_flyer 清掃
      %span (読みたいマニュアルをクリック👆)
      %a.button{:href => "#index"} Topへ戻る
    .flyer__manual
      - @flyer.each do |manual|
        .flyer__manual__box
          = link_to manual_path(manual.id) do
            = manual.name
    .category-title
      #4
      .title_cofee 発注
      %span (読みたいマニュアルをクリック👆)
      %a.button{:href => "#index"} Topへ戻る
    .cofee__manual
      - @cofee.each do |manual|
        .cofee__manuals__box
          = link_to manual_path(manual.id) do
            = manual.name
    .category-title
      #5
      .title_sekkyaku ロッピー
      %span (読みたいマニュアルをクリック👆)
      %a.button{:href => "#index"} Topへ戻る
    .sekkyaku__manual
      - @sekkyaku.each do |manual|
        .sekkyaku__manual__box
          = link_to manual_path(manual.id) do
            = manual.name
    .category-title
      #6
      .title_sonota その他
      %span (読みたいマニュアルをクリック👆)
      %a.button{:href => "#index"} Topへ戻る
    .sonota__manual
      - @sonota.each do |manual|
        .sonota__manual__box
          = link_to manual_path(manual.id) do
            = manual.name
      = render 'shared/footer'