%body
  .new-header
    = image_tag '2505.png',size:'80x80',class: 'sub-header-logo'
    マニュアルSearch
  .manual__all  
    %p マニュアル一覧    
  .manual__menu  
    %a.manual__box1{:href => "#1"}  レジ
    %a.manual__box1{:href => "#2"} 清掃
    %a.manual__box1{:href => "#3"} フライヤー
    %a.manual__box1{:href => "#4"} コーヒーマシン
    %a.manual__box1{:href => "#5"} 接客
    %a.manual__box1{:href => "#6"} その他
  .setumei-box ↖️マニュアルのカテゴリーを選択するとそこまで飛べます
  .category-box
    .category-title
      #1
      .title_rezi レジ
      %span (読みたいマニュアルをクリック👆)
      %a.button{:href => "#index"} Topへ戻る
    .rezi__manuals
      - @rezi.each do |manual|
        .rezi__manuals__box
          = link_to manual_path(manual.id) do
            = manual.name
    .category-title
      #2
      .title_seisou 清掃
      %span (読みたいマニュアルをクリック👆)
      %a.button{:href => "#index"} Topへ戻る
    .seisou__manuals
      - @seisou.each do |manual|
        .seisou__manuals__box
          = link_to manual_path(manual.id) do
            = manual.name
    .category-title
      #3
      .title_flyer フライヤー
      %span (読みたいマニュアルをクリック👆)
      %a.button{:href => "#index"} Topへ戻る
    .flyer__manuals
      - @flyer.each do |manual|
        .flyer__manuals__box
          = link_to manual_path(manual.id) do
            = manual.name
    .category-title
      #4
      .title_cofee コーヒーマシン
      %span (読みたいマニュアルをクリック👆)
      %a.button{:href => "#index"} Topへ戻る
    .cofee__manuals
      - @cofee.each do |manual|
        .cofee__manuals__box
          = link_to manual_path(manual.id) do
            = manual.name
    .category-title
      #5
      .title_sekkyaku 接客
      %span (読みたいマニュアルをクリック👆)
      %a.button{:href => "#index"} Topへ戻る
    .sekkyaku__manuals
      - @sekkyaku.each do |manual|
        .sekkyaku__manuals__box
          = link_to manual_path(manual.id) do
            = manual.name
    .category-title
      #6
      .title_sonota その他
      %span (読みたいマニュアルをクリック👆)
      %a.button{:href => "#index"} Topへ戻る
    .sonota__manuals
      - @sonota.each do |manual|
        .sonota__manuals__box
          = link_to manual_path(manual.id) do
            = manual.name